!!!
%html
  %head
    %title Sam Kim
    = stylesheet_link_tag "all"
    = stylesheet_link_tag "animate"
    = stylesheet_link_tag "normalize"
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oswald:400,700'
    = csrf_meta_tags
  = yield
